---
---

@import "variables";

.bg-theme-primary {
  background-color: $bg-primary;
}

.bg-theme-dark {
  background-color: $theme-secondary;
}

.navbar-light{
  background-color: #ebebeb !important;
}

.text-theme-dark {
  color: $theme-secondary;
}

.heading-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
}

.body-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.alt-font {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
}

html {
  height: 100%;
  width: 100%;
  // overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  // overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: $theme-primary;
  &:hover{
    color: #fcbd20;
  }
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
  &.light {
    border-color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
}

h1{
  font-weight: 700;
}

h3{
  font-size: 22px;
  font-weight: 700;
}

.text-muted{
  color: rgba(0,0,0,0.8) !important;
}

p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.read-more-arrow{
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;}

.read-more-arrow img{
  transition: ease all 0.2s;
}

.read-more-arrow:hover img{
  transform: translateY(-10px);
}



.label{
  background-color: white;
  border: 2px solid #00A5FF;
  border-radius: 3px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  color: #00A5FF;
  display: inline-block;
}

.label:hover{
  text-decoration: none;
  border-color: #fcbd20;
  background-color: white;
}

.service-box{
  h3{
    text-align: left;
  }

  p{
    text-align: left;
  }
}

section.signup{
  margin-top: 100px;
}

.navbar{
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  padding: 15px 15px 15px 25px;
  .navbar-brand{
    font-size: 2.5rem;
    line-height: 35px;
    &:hover, &:focus {
      color: $theme-primary;
    }
    .logo {
      max-height: 32px;
    }
  }
  .nav-link {
      //font-family: 'Quicksand', 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
      //text-transform: uppercase;
      font-size: 17px;
      // &:focus {
      //   color: #222222;
      // }
      // &:hover, &:focus:hover {
      //   color: $theme-primary;
      // }
      &.btn {
        margin: 0 0 0 10px;
        background-color: $theme-primary;
      }
    }
  .navlink.active {
    color: $theme-primary !important;
    background-color: transparent;
    &:focus {
      color: $theme-primary !important;
      background-color: transparent;
    }
    &:hover, &:focus:hover {
      background-color: transparent;
    }
  }
}

#navdark {
  background-color: $nav-dark;
}

.logos img{
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .logo.small {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .logo.large {
    display: none;
  }
  .logo-bar {
    display:none;
  }
}

.embed-responsive-16by9::before{
  padding-top: 56.0% !important;
}

// registration
.line {
  margin-top: -12px;
}

// Accreditation page
.pop {
    position: relative;
    display: block;
    float: left;
}

.pop::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  content: "";
  border-width: 10px;
  top: -10px;
  margin-left: -10px;
  border-bottom-color: #f7f7f7;
  left: 50%;
  border-top-width: 0;

}

// plus sign for accordian
.bb-accordion:before,{
    content: '+';
    display: block;
    font-size: 28px;
    font-weight: 600;
    height: 32px;
    line-height: 28px;
    width: 28px;
    // background-color: #ebebeb;

    pointer-events: none;
    position: absolute;
    right: 14px;
    text-align: center;
    top: 14px;

    transform: rotate(0);
    -ms-transform: rotate(0);
    transform-origin: 14px 16px 0;
    -ms-transform-origin: 14px 16px 0;
    transition: transform 360ms ease;
    transition-timing-function: cubic-bezier(0.5, 0.25, 0.75, 1.5);
}

a.bb-accordion:hover, a.bb-accordion:active, a.bb-accordion:focus{
  color: $bg-primary;
  text-decoration: inherit;
}

.bb-accordion.bb-accordion[aria-expanded="true"]:before {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transition-duration: 360ms;
}

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
    .navbar-header .navbar-brand {
      color: rgba(255, 255, 255, 0.7);
      &:hover, &:focus {
        color: white;
      }
    }
    .nav > li > a {
      color: rgba(255, 255, 255, 0.7);
      &:focus {
        color: rgba(255, 255, 255, 0.7);
      }
      &:hover, &:focus:hover {
        color: white;
      }
    }
    &.affix {
      background-color: $nav-dark;
      border-color: rgba(34, 34, 34, 0.1);

      .navbar-header .navbar-brand {
        color: white;
        &:hover, &:focus {
          color: $theme-primary;
        }
      }
      .nav > li > a {
        color: white;
        &:focus {
          color: #222222;
        }
        &:hover, &:focus:hover {
          color: $theme-primary;
        }
      }
    }
  }
}

header {
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: flex-end;
  background-color: #001d41;

  div{ overflow: hidden; }

  video#bgvid {
      // z-index: -1;
      //  height: 100%;
      // width: 100%;
      // zoom: 1.2;
      min-height: 100%;

      // margin-left: -60%;
       object-fit: cover;
      opacity: .25;
      // transform: translateY(-200px);
  }

  .title-container {
    z-index: 1;
    color: #FFF;
    position: absolute;
    margin-top: -77px;
  }
  .device-container {
    max-width: 300px;
    margin: 0 auto 100px;
    .screen img {
      border-radius: 3px;
    }
  }
}

.logo-bar {
  padding: 80px 15px 55px 15px;
  font-size: 16px;
  width: 100%;
  z-index: 10;
  background: #EBEBEB;
  // position: absolute;
  align-self: flex-end;
  .row {
    display: flex;
    justify-content: space-evenly;
  }

  p{
    text-align: left;
    font-weight: 600;
    margin-bottom: 0px;
  }
}


@media (min-width: 768px) {
  header {
    //min-height: 100%;
    .header-content {
      .header-content-inner {
        max-width: none;
        h1 {
          font-size: 35px;
        }
      }
    }
    .title-container {
      top: 50%;
    }
    .device-container {
      max-width: none;
      max-height: calc(0vh);
      margin: 100px auto 0;
    }
  }
}

@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
}

.embed-responsive.embed-responsive-16by9 {
 padding: 2px !important;
}

section {
  h2 {
    font-size: 30px;
    font-weight: 700;
  }
  .section-heading {
    padding-bottom: 10px;
    h2 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  // section-post-heading
  .section-post-heading {
    margin-bottom: 100px;
    h2 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  .blue-bar {
    border-bottom: 2px solid $theme-teal;
    width: 30%;
    margin: 40px auto 0 auto;
  }
  &.animation {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    h2 {
      margin-top: 0;
      font-size: 50px;
    }
    span {
      font-size: 40px;
    }
  }
  &.why {
    h2 {
      font-size: 40px;
    }
    padding-top: 100px;
  }
  .video-responsive{
      // overflow:hidden;
  }
  .video-responsive iframe{
      width:100%;
      // height: 100%;
  }
  &.learn {
    background-color: white;
    padding-top: 80px;
    .blue-bar {
      border-bottom: 2px solid $theme-teal;
      width: 30%;
      margin: 10px auto 40px auto;
    }
    .feature-list {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding-top: 20px;
      .feature-item {
        margin-bottom: 10px;
      }
    }
  }
  &.why {
    background-color: white;
  }
  &.feature {
    background-color: white;
    .action {
      background-color: #343345;
      color: white;
      padding: 20px;
    }
    .section-heading {
      h2 {
        margin-top: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    // section-post-heading
    .section-post-heading {
      margin-bottom: 100px;
      h2 {
        margin-top: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    .device-container, .feature-item {
      max-width: 300px;
      margin: 0 auto;
    }
    .device-container {
      margin-bottom: 100px;
    }

  }
}

section {
  &.contact {
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #EBEBEB;
  }
}

button#_form_3_submit._submit {
  font-size: 17px !important;
  border-radius: 3px;
  padding: 1rem !important;
}

button#_form_3_submit._submit:hover {
  //background-color:
}

._field-wrapper input{
  border-width: 0px !important;
  font-size: 17px !important;
  padding: 1rem !important;
  border-radius: 3px !important;
}

._button-wrapper #_form_4_submit{
  border-width: 0px !important;
  font-size: 17px !important;
  padding: 1rem !important;
  border-radius: 3px !important;
  width: 100%;
  padding: 1rem !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

textarea, input{
  border-radius: 3px !important;
}

label{
  font-size: 18px;
}

.bb-accordion div{
  // padding-left: 0px !important;
}



footer {
  background-color: #222222;
  padding: 25px 0;
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  p {
    font-size: 14px;
    margin: 0;
  }
  ul {
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    li a {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.3);
      &:hover, &:focus, &:active, &.active {
        text-decoration: none;
      }
    }
  }
  .li-social {
    margin-top: 20px;
    .btn-social  {
      font-size: 1.8em;
      padding: 7px;
      border-radius: 50%;
      margin: 2px;
    }
  }
}


.text-primary {
  color: $theme-primary;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  background-color: $theme-primary;
  border-color: $theme-primary;
  border-width: 2px;
  &:hover, &:focus, &:active, &.active {
    color: white;
    border-color: white;
    border: 2px solid;
    background-color: transparent;
  }
}

.btn {
  //font-family: 'Quicksand', 'Helvetica', 'Arial', 'sans-serif';
 // text-transform: uppercase;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  border-radius: 3px;
  outline: none;
  background-color: #00A5FF;
  color: white;
}

.btn:hover{
  background-color: #0089d4 !important;
  outline: none;
  color: white;
}

.btn:focus{
  box-shadow: none;
}

.btn:active{
  background-color: #006ba5 !important;
  outline: none;
}

.btn-xl {
  padding: 15px 45px;
  font-size: 17px;

}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}

img {
  &::selection, &::-moz-selection {
    color: white;
    background: transparent;
  }
}

body {
  webkit-tap-highlight-color: #222222;
}




// post styles

.intro-header {
  background: no-repeat center center;
  background-color: #808080;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
  .site-heading, .post-heading, .page-heading {
    padding: 100px 0 50px;
    color: white;
  }
  .site-heading, .page-heading {
    text-align: center;
  }
  .site-heading h1, .page-heading h1 {
    margin-top: 0;
    font-size: 50px;
  }
  .site-heading .subheading, .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .subheading, .meta {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 24px;
      margin: 10px 0 30px;
      font-weight: 600;
    }
    .meta {
      font-family: 'Lora', 'Times New Roman', serif;
      font-style: italic;
      font-weight: 300;
      font-size: 20px;
      a {
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header .post-heading {
    h1 {
      font-size: 55px;
    }
    .subheading {
      font-size: 30px;
    }
  }
  section {
    .blue-bar {
      margin: 100px auto 0 auto;
    }
    &.learn {
      .blue-bar {
        margin: 100px auto;
      }
    }

  }
}
