---
layout: basic
---

<section class="hero">
	<div>
		<h1>The platform for smart <br>government <img class="arrows" src="img/arrow-icons.svg"> social sector communication</h1>
		<h2>Save time on paperwork, spend it with your clients</h2>
		<p>We’re on a mission to make government processes fast and painless for New Zealand’s social sector</p>

		<a href="https://vimeo.com/271191031" target="_blank" class="button"> <i class="material-icons">play_circle_outline</i> Accreditron in 2 minutes</a>
		<!-- <a href="#" class="button outline"><i class="material-icons">arrow_downward</i> Learn More</a> -->
	</div>

	<a href="https://vimeo.com/271191031" target="_blank">
		<img src="img/video.png" width="514">
	</a>
</section>

<hr>

<section class="social-proof">
	<!-- <img src="img/quote-pic.png" width="72px" height="72px">
	<div>
		<h4>Marion Pilott, PBS</h4>
		<p>“This is the best example of government and the social sector working together I’ve seen since sliced bread”</p>
	</div> -->

	<!-- <img src="img/gov-logos.svg"> -->
	<!-- <img src="img/gov-logos-flat.svg"> -->
	<img src="img/flat-logoz.png" width="1000px">
</section>
<hr>

<section>
	{% include minimal-cta.html %}
</section>

<section class="requests">
	<h2><strong>Request information</strong><br> without creating duplicated work</h2>
	<img src="/img/ill/requests.png">
	<hr>
	<div>
		<p>
		<img src="/img/angry-face.svg"><br>
		Providers are currently asked <strong>50-80%</strong> of the same questions by different teams within government, creating duplicated work for everybody.   
		<br><br>
		Information is requested through emails and word templates, meaning there’s no way to re-use this information.</p>

		<p>
		<img src="/img/happy-face.svg"><br>
		Accreditron saves your information for the future - so if you get asked a question again, <strong>we just auto-fill your previous answer for review.</strong>
		<br><br>
		We’ve also re-written the questions to be clear and straightforward, to make processes as painless.</p>
	</div>
</section>

<section class="profile">
	<h2><strong>An inter-agency provider profile </strong><br>Get everybody on the same page</h2>
	<img src="/img/ill/profile.png" width="872px">
	<hr>
	<div>
		<p>
		<img src="/img/angry-face.svg"><br>
		Currently it's a challenge to share basic information about a provider among teams within government. For example during an RFP it’s easier to ask the provider if they’re accredited - rather than finding out internally.  
		<br><br>
		Government workers don’t see a holistic overview of an organisation, and their interactions with government.</p>

		<p>
		<img src="/img/happy-face.svg"><br>
		The provider profile contains basic information about a provider:  services (funded and unfunded), what teams they’re working with, reports (such as Accreditation) and other basic details.
		<br><br>
		  It’s a collaborative document - information is updated by both the provider and government staff.</p>
	</div>
</section>

<section class="view">
	<img src="/img/ill/house.png" width="354px" height="230px">
	<div>
		<h2><strong>A better view of the social sector</strong></h2>
		<p>Social sector information is currently scattered among different teams and systems, each piece only giving part of the picture. Accreditron collects data holistically, aiming to show all aspects of a social sector organisation - not just the aspects that government traditionally cares about.</p>

		<p>This information will help answer big questions about the social sector; such as
		finding service gaps in communities.</p>
	</div>
</section>

<section class="security">
	<div>
		<h2><strong>Private and Secure</strong></h2>

		<p>Accreditron is undertaking a thorough security review, so you can be sure data is safe and secure. We take data privacy seriously - your information is yours. Accreditron is always transparent about where information is going and what it will be used for.</p>
	</div>
	<img src="/img/ill/lock.png" width="100px" height="133px">
</section>

{% include block-cta.html %}
