<section class="about-team">
    <div class="content">
        <!-- <div class="container">
            <h2>Help it. By<br>little actions.</h2>
            <a href="/funds" class="btn btn-outline btn-xl page-scroll">How I can?!</a>
        </div>
 -->    </div>
    <div class="overlay">

    </div>
</section>
<section>
  <div class="container about-content">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h2>How can we save paper and time?</h2>
      <p>Takahui's mission is to reduce compliance time and cost for both social service providers and government agencies, improve the effectiveness of the social sector through social sector intelligence, streamline compliance processes, and improve trust and transparency between providers and agencies. We are working to improve the interactions between social service provider and agencies in the accreditation process. </p>
      <p>Takahui is an web-based platform for social service provider to manage their funding compliance.  Store and share your organisation information with government agencies - taking the current ad-hoc, email-based accreditation process into a secure, built-for-purpose, cloud solution.</p>
      <p>We are a team that bring experience from the government and social sector and private sector together. To quickly develop a secure and working solution.</p>
      <p>Our goal is to save the average provider $700 worth of time every year.</p>
      </div>
    </div>
  </div>
</section>