<section id="learn" class="animation text-center">
  <div class="d-flex justify-content-center flex-column">
    <div class="text-center">
      <div class="section-heading">
        <h2>How it works</h2>
        <hr>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="embed-responsive embed-responsive-16by9 col-md-6 col-11">
          <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/VDLtrtnQn5M?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="blue-bar"></div>
</section>
