<section id="learn" class="animation text-center">
  <div class="d-flex justify-content-center flex-column">
    <div class="text-center">
       <div class="col-lg-12 text-center pb-5">
          <h2 class="section-heading"><span>Accreditron facilitates </br></span>purposeful government interactions</br> <span>for Social Service Providers</span></h2>
      </div>
      <!-- <div class="section-heading">
        <h2>How it works</h2>
      </div> -->
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="embed-responsive embed-responsive-16by9 col-md-6 col-11">
          <!-- <iframe class="embed-responsive-item" width="640" height="360" src="https://www.youtube-nocookie.com/embed/RPTfWeu04Ks?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->

          <iframe src="https://player.vimeo.com/video/253902209?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      </div>
    </div>
  </div>
  <!-- <div class="blue-bar"></div> -->
</section>
