<section id="why" class="why">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading">Focus On The Work You Love</h2>
          <hr class="primary">
          <br />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 text-center">
        <div class="service-box">
          <img class="w-75 p-4" src="../img/acc_winner.png" alt="">
            <h3>Create a Single Source of Truth</h3>
            <p class="text-muted">Store all your inforamtion in one place. Save time updating and showing your organisation compliance information by keeping it in one place.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 text-center">
        <div class="service-box">
            <img class="w-75 p-4" src="../img/acc_party.png" alt="">
            <h3>Save Heaps of Admin Time</h3>
            <p class="text-muted">Save over $720 of overhead time right away. Takahui's easy step-by-step guide will save you on average 36 hours of time submiting pre-assessment information to your Assessor. We only ask you the same question once, so next time next submission will save you even more. </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 text-center">
        <div class="service-box">
            <img class="w-75 p-4" src="../img/robot_chat.png" alt="">
            <h3>Securely and Transparantly Share</h3>
            <p class="text-muted">Know your information is safe in transit and have visiblity over who your sharing your organisation's information with.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="blue-bar"></div>
</section>
