<section id="why" class="why">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center pb-5">
          <h2 class="section-heading">An online plaftorm for Service Providers to spend less time and energy on admin paperwork.</h2>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <div class="row d-flex justify-content-around">
      <div class="col-lg-4 col-sm-12 text-center">
        <div class="service-box p-3">
          <img class="w-75 p-4" src="../img/beehive.png" alt="">
            <h3>All-of-Government Approach</h3>
            <p class="text-muted">The work of Social Service Providers spans across communities, regions, and government agencies. To effectivily save time, reduce risk, and help agencies make better decisions, we are taking an all-of-government approach. Breaking through government silos means that social service providers will have a more fluid government interaction.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 text-center">
        <div class="service-box p-3">
          <img class="w-75 p-4" src="../img/clipboard-thin.png" alt="">
            <h3>Less Duplication with streamlined processes</h3>
            <p class="text-muted">Our easy step-by-step system makes submitting information a quick, painless experience. Only answer the same question once, so your next submission will save you even more time. With our platform government now has a clearer picture of the social sector they can ask less repetative questions.</p>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12 text-center">
        <div class="service-box p-3">
            <img class="w-75 p-4" src="../img/sheild.png" alt="">
            <h3>Transparant & Secure</h3>
            <p class="text-muted">Know your information is safe in transit and have visibility over who you're sharing your organisation's information with.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="blue-bar"></div>
</section>
