<section id="why" class="why">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center pb-5">
          <h2 class="section-heading text">Spend less time and energy on paperwork</h2>
          <h3>spend more time with your community</h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
            <img class="w-75 p-4" src="../img/beehive.png" alt="">
            <h3>All-of-Government Approach</h3>
            <p class="text-muted">To effectively save time, reduce risk, and help agencies make better decisions, we are taking an all-of-government approach. Breaking through government silos means that social service providers will have a more fluid government interaction.</p>
      </div>
      <div class="col-sm">
            <img class="w-75 p-4" src="../img/clipboard-thin.png" alt="">
            <h3>A Streamlined Process</h3>
            <p class="text-muted">Our easy step-by-step system makes submitting information a quick, painless experience. Only answer the same question once, so your next submission will save you even more time. With our platform government now has a clearer picture of the social sector they can ask less repetitive questions.</p>
      </div>
      <div class="col-sm">
           <img class="w-75 p-4" src="../img/sheild.png" alt="">
            <h3>Transparent and Secure</h3>
            <p class="text-muted">Know your information is safe in transit and have visibility over who you're sharing your organisation's information with.</p>
      </div>
    </div>
  </div>
  <div class="blue-bar"></div>
</section>
