<section id="learn" class="animation text-center">
    <div class="d-flex justify-content-center flex-column">
        <div class="text-center">
            <div class="section-heading">
                <h2>How it works</h2>
                <hr>
            </div>
        </div>
        <div class="video">
            <iframe width="700" height="315" src="https://www.youtube.com/embed/opxkHxXYOmE" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="blue-bar"></div>
</section>
