<section id="learn" class="animation text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>How it works</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 video">
                <iframe width="700" height="315" src="https://www.youtube.com/embed/opxkHxXYOmE" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="blue-bar"></div>
</section>
