
<section id="contact" class="contact" >
  <div class="container mt-3">

      <div class="d-flex flex-column">

        <h2 class="pl-1">Contact us, we'd love to hear from you!</h2>
        <h3 class="pl-1">Please submit your message and we will get back to you soon</h3>

        <div class="row align-items-center">
          <div class="col-7 mr-auto">
              <div class="_form_3"></div><script src="https://accreditron.activehosted.com/f/embed.php?id=3" type="text/javascript" charset="utf-8"></script>
          </div>
          <div class="col-4">
            <div class="d-flex flex-row">
              <div>
                <h4><i class="fa fa-question-circle" aria-hidden="true"></i></h4>
              </div>
              <div>
                <h4>Help</h4>
                <p>Need help? Don't hesitate to ask us something. Send a message or email us direcltly at <a href="emailto:info@takahui.nz">info@takahui.nz</a>. We have designed Takahui by working with Social Service Providers, hearing from you is the best way to help the Takahui best serve the social sector. </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</section>


