<section id="feature" class="feature">
  <div class="blue-bar"></div>
    <div class="action">
      <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Join Now as a Social Service provider</h2>
            </div>
            <div class="col-md-6">
              <div class="action">
                <form>
                  <input label="email" type="text" name="email" placeholder="Email address..."><br>
                  <input class="join btn btn-xl btn-outline" type="button" onclick="alert('Hello World!')" value="Get Started">
                </form>
                <a href="#" class="join btn btn-outline btn-xl page-scroll">Login and Register</a>
                <p class="italic">Accreditation is free forever!</p>
              </div>
            </div>
            <p><a href="">Do you work in government?</a></p>
        </div>
      </div>
    </div>

</section>
