  <footer>

    <div class="cta">
        <h1><strong>Get early access</strong></h1>
        <p>Ready to get setup? Want to explore if Accreditron is the right fit? Or do you just have some other questions? Send us an email, we’d love to hear from you!</p>
        <a class="button" href="mailto:hello@accreditron.com">hello@accreditron.com</a>
    </div>

    <section>
        <hr>
        <div class="g">
            <div class="g-50">
                <h3>Contact</h3>
                <ul>
                    <li>
                        <a href="mailto:hello@accreditron.com">hello@accreditron.com</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/accreditron"><img src="/a/img/twitter.svg"> @accreditron</a>
                    </li>
                    <li>15 Edward Street, Te Aro, Wellington, NZ</li>
                </ul>
            </div>

            <div class="g-50">
                <h3>Resources</h3>
                <ul>
                    <li>
                        <a href="https://www.traject.nz/" target="_blank">About Traject</a>
                    </li>
                    <li>
                        <a href="https://medium.com/accreditron" target="_blank">Blog Articles</a>
                    </li>
                    <li>
                        <a href="/privacy-policy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/roadmap">Roadmap</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
  </footer>
