<footer>
  <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-3 mr-auto p-3">
                 <ul>
                    <li class="li-social">
                    {% for network in site.social %}

                            <a href="{{ network.url }}" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>

                    {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 col-12 p-3">
                <h3>Learn More</h3>
                <ul>
                    <!-- <li><a href="/about">About</a></li> -->
                    <li><a target="_blank" href="http://www.traject.nz">About Traject</a></li>
                    <li><a target="_blank" href="https://medium.com/accreditron">Blog Articles</a></li>
                    <li><a target="_blank" href="https://research.accreditron.com">Research</a></li>
                    <li><a target="_blank" href="../roadmap">Roadmap</a></li>
                    <li><a target="_blank" href="../presentations">Presentations</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-12 p-3">
                <h3>Support</h3>
                <ul>
                    <li><a href="/#contact">Schedule a Demo</a></li>
                    <!-- <li><a href="#">Security</a></li> -->
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <!-- <li><a href="#">Terms of Service</a></li> -->
                    <li><a href="/register">FAQ</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-12 p-3">
                <h3>Location</h3>
                <p>15 Edward Street</p>
                <p>Te Aro, Wellington, NZ</p>
                <p><a href="emailto:hello@accreditron.com">Hello@accreditron.com</a></p>

            </div>
        </div>
    </div>
</footer>


