<footer>
    <section>
        <div>
            <h4>Contact</h4>
            <hr>
            <a href="mailto:hello@accreditron.com">hello@accreditron.com</a>
            <a href="https://twitter.com/accreditron">@accreditron.com</a>
            <p>15 Edward Street, <br>Te Aro, Wellington, NZ</p>
        </div>

        <div>
            <h4>Resources</h4>
            <hr>
            <a href="https://www.traject.nz/">About Traject</a>
            <a href="https://medium.com/accreditron">Blog Articles</a>
            <a href="https://research.accreditron.com">Research</a>
            <a href="/roadmap/">Roadmap</a>
            <a href="/presentations/">Presentations</a>
            <a href="/privacy-policy/">Privacy Policy</a>
        </div>
    </section>
</footer>