<header>
 <!--  <div class="video-container adjustedHeight"> -->
    <video autoplay loop poster="/img/video/video-placeholder.png" id="bgvid">
      <source src="/img/video/accreditron720.mp4" type="video/mp4">
      <!-- <source src="/path/to/video.mp4" type="video/mp4"> -->
    </video>
  <!-- </div> -->

    <div class="text-center title-container p-2">
      <h1 class="tagline">Accreditron is a web platform for the Social Sector.</h1>
      <h2 class="lead">It saves time for providers & government, gives key insights, and keeps New Zealanders safer.</h2>
      <div class="justify-content-end action">
          <a href="#learn" class="join btn btn-xl page-scroll mt-5 mb-2">Learn more</a>
      </div>
    </div>

    <div class="read-more-arrow">
      <a href="#learn" class="page-scroll"><img src="/img/arrow.png"></a>
    </div>
</header>
