<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/a/index.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="icon" type="image/png" href="/a/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/a/img/favicon-16x16.png" sizes="16x16" />
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
</head>
