<header>
    <video autoplay loop poster="/img/team/Accreditron-Team-HighRes-0620.jpg" id="bgvid">
      <source src="/img/video/codesign-kotahi720.mp4" type="video/mp4">
      <!-- <source src="/path/to/video.mp4" type="video/mp4"> -->
    </video>
    <div class="container">
        <div class="row">
            <div class="header-content">
                <div class="header-content-inner">
                  <div class="row">
                    <div class="large-centered text-center">
                      <h1>Less Paperwork, Better Services</h1>
                      <h2>Complience Support for Social Service Providers</h2>
                    </div>
                  </div>

                  <div class="row action">
                      <a href="#" class="join btn btn-outline btn-xl page-scroll">Login and Register</a>
                      <p class="italic">Accreditation is free forever!</p>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <section id="logo-bar" class="logo-bar text-center">
      <div class="container">
          <div class="row">
              <div class="">
                  <img src="img/logos/MSD.png" alt="">
              </div>
              <div class="">
                  <img src="img/logos/MBIE_logo.png" alt="">
              </div>
              <div class="">
                  <img src="img/logos/BfB_logo.png" alt="">
              </div>
          </div>
      </div>
    </section>
</header>
