<header>
    <div class="container">
        <div class="row">
        <div class="header-content">
            <div class="header-content-inner">
              <div class="row">
                <div class="large-centered text-center">
                  <h1>Less Paperwork, Better Services</h1>
                  <h2>Complience Support for Social Service Providers</h2>
                </div>
              </div>

              <div class="row">
                  <a href="#" class="join btn btn-outline btn-xl page-scroll">Login and Register</a>
              </div>
          </div>

          <video autoplay loop poster="/img/team/Accreditron-Team-HighRes-0620.jpg" id="bgvid">
            <source src="/img/video/co-design-720p.mp4" type="video/mp4">
            <!-- <source src="/path/to/video.mp4" type="video/mp4"> -->
          </video>

</header>
