<header>
<!--   <div class="container-fluid adjustedHeight">
    <div class="video-container">
      <div class="row">
        <div class="col-md-12">
          this is some text
        </div>
      </div>
      <div class="row Page1">
        some more text
      </div>
      <video autoplay loop poster="/img/video/video-placeholder.png" id="fillWidth">
        <source src="/img/video/codesign-kotahi720.mp4" type="video/mp4">
        <source src="/path/to/video.mp4" type="video/mp4">
      </video>
    </div>
  </div> -->

  <div class="video-container adjustedHeight">
    <video autoplay loop poster="/img/video/video-placeholder.png" id="bgvid">
      <source src="/img/video/codesign-kotahi720.mp4" type="video/mp4">
      <!-- <source src="/path/to/video.mp4" type="video/mp4"> -->
    </video>
  </div>
    <div class="container title-container">
      <h1 class="display-3">Less Paperwork, Better Services</h1>
      <h2 class="lead">Complience Support for Social Service Providers</h2>
      <div class="row action">
          <a href="#" class="join btn btn-outline btn-xl page-scroll">Login and Register</a>
          <p class="italic">Accreditation is free forever!</p>
      </div>
  </div>
  <section id="logo-bar" class="logo-bar text-center">
    <div class="container">
        <div class="row">
            <div class="">
                <img src="img/logos/MSD.png" alt="">
            </div>
            <div>
              <img src="img/logos/mined.png" alt="">
            </div>
            <div class="">
                <img src="img/logos/MBIE_logo.png" alt="">
            </div>
            <div class="">
                <img src="img/logos/BfB_logo.png" alt="">
            </div>
        </div>
    </div>
  </section>
</header>
