
<section id="benefits" class="learn">
<div class="container">

    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="section-heading">
          <h2>Save time completing your Accreditation</h2>
          <p class="text-muted">Funding due-diligence is easier and more transparent.</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-12">
            <div class="device-container">
              <div class="device-mockup macbook white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img class="w-100" src="/img/screen-grabs/submission.png" class="img-responsive" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-3 col-sm-12 feature-list">
          <div class="feature-item">
            <h3>Submit your information online</h3>
            <p class="text-muted">Rather than a paper form and multiple emails, Accreditron lets you submit online.</p>
          </div>
          <div class="feature-item">
            <h3>Redesigned Experience</h3>
            <p class="text-muted">We've re-thought the Accreditation Pre-Assessment process to make it clearer, faster, and easier to complete.</p>
          </div>
        </div>
    </div>

  <div class="blue-bar"></div>
  <div class="row">
    <div class="col-12 text-center">
      <div class="section-heading">
        <h2>All your organisation's information in one dashboard</h2>
        <p class="text-muted">Safely manage and maintain your organisations compliance documentation.</p>
        <hr>
      </div>
    </div>
  </div>
  <div class="d-flex row">
      <div class="col-sm-12 col-md-3 feature-list order-2 order-md-1">
        <div class="feature-item">
          <!-- <i class="icon-envelope-letter text-primary"></i> -->
          <h3>Only answer the same question once</h3>
          <p class="text-muted">Any information you submit through Accreditron is stored in your private dashboard. If you get asked for it in the future, we'll have it ready to go - and if you need to share this info with your team, it's all in one place.</p>
        </div>
        <div class="feature-item">
          <!-- <i class="icon-speech text-primary"></i> -->
          <h3>Never lose information</h3>
          <p class="text-muted">Some documents need to be stored for 7 years. Ensure your information is safe and secure in the cloud, and can't be lost in a fire or have coffee spilled on it.</p>
        </div>
      </div>

      <div class="col-sm-12 col-md-9 order-1 order-md-2">
        <div class="device-container">
          <div class="device-mockup macbook white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img class="w-100" src="/img/screen-grabs/dashboard.png" class="img-responsive" alt=""> </div>
                <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  <div class="blue-bar"></div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="section-heading">
        <h2>Manage your staff files</h2>
        <p class="text-muted">Be confident that your organisation's staff files are up to date and correct.</p>
        <a href="#contact" class="label">Coming Soon - Contact Us</a>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="device-container">
          <div class="device-mockup macbook white">
            <div class="device">
              <div class="screen">
              <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
              <img class="w-100" src="/img/screen-grabs/staffing.png" class="img-responsive" alt=""> </div>
              <div class="button">
              <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 feature-list">
        <div class="feature-item">
         <!-- <i class="icon-envelope-letter text-primary"></i> -->
        <!--  <h3>Hands off compliance</h3>
         <p class="text-muted">Some information in staff files, such as police vets go out of date. We automatically check your staff file compliance, and if there's an issue - we'll notify you right away.</p>
        </div> -->


        <div class="feature-item">
         <!-- <i class="icon-envelope-letter text-primary"></i> -->
         <h3>Hands off compliance</h3>
         <p class="text-muted">Are your police vets up to date? Do you have all of the correct information stored? Are your processes compliant?<br><br>

         Our tool automatically checks the compliance of your staff files - and if there's an issue, you're notified right away.</p>
        </div>

        <div class="feature-item">
         <!-- <i class="icon-speech text-primary"></i> -->
         <h3>Volunteer Support <i class="fa fa-check" aria-hidden="true"></i></h3>
     <!--     <p class="text-muted">All of your organisation information in one place. No more repeating yourself to many parties.</p> -->
        </div>
      </div>
  </div>
  </div>
</div>

</section>
