<section id="logo-bar" class="logo-bar text-center">
    <div class="container">
        <div class="row align-items-center logos">
          <p>We're working<br>with:</p>
          <img src="img/logos/MSD_30mmBLACK.png" alt="">
          <img src="img/logos/mined.png" alt="">
          <img src="img/logos/MBIE_logo.png" alt="">
          <img src="img/logos/DOC-Logo_CMYK_Positive.png" alt="">
          <img src="img/logos/moj.png" alt="">
          <img src="img/logos/mvcot.png" alt="">
          <img src="img/logos/moh.png" alt="">

        </div>
    </div>
  </section>
