<nav class="navbar navbar-expand-lg fixed-top">

  <!-- Kotahi logo -->
 <!--  <a class="navbar-brand d-flex align-items-center" href="../#page-top">
    <img class="logo pr-2" src="../img/kotahi_logo.png" alt="Takahui">
    Takahui
  </a> -->
  <!-- Accreditron Logo -->
  <a class="navbar-brand d-flex align-items-center" href="../#page-top">
    <img class="logo large light pr-2" src="../img/accreditron-logo-dark.svg" alt="Accreditron" style="display: none;">

    <img class="logo large dark pr-2" src="../img/accreditron-logo-white.svg" alt="Accreditron">
    <img class="logo small pr-2" src="../img/kotahi_logo.png" alt="Accreditron">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto align-items-center">

      <li class="nav-item">
        <a class="nav-link page-scroll active" href="/index.html"> Providers <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="/government">Government</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="https://medium.com/accreditron" target="_blank">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="https://research.accreditron.com" target="_blank">Research</a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#contact">Contact</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Blog</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link btn btn-primary text-white border-0 p-3" href="../register" role="button">Login and Register</a>
      </li>
    </ul>
  </div>

  </div>
</nav>
