<nav class="navbar navbar-expand-lg fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand d-flex align-items-center" href="../#page-top">
    <img class="logo pr-2" src="../img/kotahi_logo.png" alt="Takahui">
    Takahui
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto align-items-center">
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#learn"> Tour <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-primary text-white border-0 p-3" href="#" role="button">Login and Register</a>
      </li>
    </ul>
  </div>

  </div>
</nav>
