<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14/dist/smooth-scroll.polyfills.min.js"></script>

<script>
    var scroll = new SmoothScroll('a[href*="#"]');
</script>



<!-- Google analytics -->
{% if site.google_analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
          _gaq.push(['_trackPageview']);
  (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

<!-- Google ADS mobile block -->
<!--   {% if site.google_ad_client %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
   (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "{{ site.google_ad_client }}",
      enable_page_level_ads: true
      });
  </script>
  {% endif %}

  {% if site.addthis_id %} -->
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
<!--     <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis_id }}"></script>
    {% endif %} -->