


// variables
// $head-primary: #7b4397 ;
// $head-secondary: #dc2430 ;
$theme-primary: #00A5FF; //#09CEBF ;
$nav-dark: rgba(52, 51, 69, 0.95);
$theme-secondary: #343345 ;
// $theme-dark: #222;
$bg-primary: #00A5ff;
$primary-hover: #6fc4f3;
$theme-teal: #09CEBF;


// Accreditron Color Pallett Keep here for reference
// #001381 Dark Blue
// #09CEBF Teal
// #00A5FF Light Blue
// #343345 Black
// #FF004C Red
// #FF9366 Orange


@import "_mixins.scss";


.bg-theme-primary {
  background-color: $bg-primary;
}

.bg-theme-dark {
  background-color: $theme-secondary;
}

.navbar-light{
  background-color: #ebebeb !important;
}

.text-theme-dark {
  color: $theme-secondary;
}

.heading-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
}

.body-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.alt-font {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
}
