/* This sass file sets some base site-wide deafult styles */

$blue: #0067F2;
$offblack: #383838;

@import 'inter-ui';

*{ box-sizing: border-box }

body{
	font-family: 'Inter UI', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	margin: 0px;
	overflow-x: hidden;
	color: $offblack;
}

section{
	max-width: 1020px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
}

hr{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgba(0,0,0,0.1)
}

h1{
	font-size: 30px;
	font-weight: bold;
	color: $offblack;
}

h2{
	font-size: 25px;
	font-weight: normal;
	color: $offblack;
}

img{
	flex-shrink: 0; // fixes ie flexbox stretchy images thing
}


.button{
	background-color: $blue;
	display: inline-flex;
	align-items: center;
	height: 46px;
	text-decoration: none;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	border: 2px solid $blue;
	cursor: pointer;
	
	i{
		padding-right: 10px;
	}

	&:hover{
		background-color: darken($blue, 10%);
		border: 2px solid darken($blue, 10%);
	}

	&:active{
		background-color: darken($blue, 30%);
		border: 2px solid darken($blue, 30%);
	}
} 

.button.outline{
	background-color: white;
	border: 2px solid $blue;
	color: $blue;
	
	&:hover{
		border: 2px solid darken($blue, 10%);
	}

	&:active{
		border: 2px solid darken($blue, 30%);
	}
}


input{
	height: 46px;
	font-size: 16px;
	width: 100%;
	border: 2px solid rgba(0,0,0,0.2);
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	outline: none;
}

