section.comp-view{
	padding-top: 100px;
	padding-bottom: 100px;
}

#datapoints{
	margin-top: -132px;
}

#datapointText{
	position: relative;
	top: 80px;

	@media screen and (max-width: 600px){
		top: 0px;
	}
}


span.brutal{
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 20px;
  display: inline-block;
}

section.search{
	background-color: #2F3339;
	color: white;
	padding-top: 100px;
	padding-bottom: 100px;

	h2{
		font-weight: 400;
		margin-top: 40px;
		margin-bottom: 40px;

		span{
			color: #45a5f7;
		}
	}

	.col{
		@media screen and (max-width: 800px){
			flex-basis: auto;		
			margin-bottom: 15px;
		}
	}
}


section.values{
	padding-top: 100px;
	padding-bottom: 50px;

	h2{
	  font-family: 'Roboto Mono', monospace;
	  color: rgba(0,0,0,0.5);
	  font-size: 25px;
	}

	blockquote{
		font-size: 19px;
	}

	.col{
		@media screen and (max-width: 800px){
			flex-basis: auto;		
		}
	}
}


section.datasphere{
	padding-bottom: 50px;
	h2{
		position: relative;
		top: 160px;

		@media screen and (max-width: 600px){
			top: 180px;
		} 
	}

	img{
		margin-top: -33px;
	}
}


section.data-accuracy{
	padding-top: 100px;
	padding-bottom: 100px;

	.mid-container{
		max-width: 600px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;

		p{
			text-align: left;
		}

		@media screen and (max-width: 600px){
			text-align: left !important;
		} 
	}
}

// @media screen and (max-width: 600px){
// 	.mid-container{
// 		text-align: left !important;
// 	}
// } 


section.data-benefits{
	.col{
		@media screen and (max-width: 990px){
			flex-basis: auto;	
			text-align: left !important;
			margin: 0px;
			margin-top: 10px;
			margin-bottom: 10px;	
		}
	}

	.row{
		@media screen and (max-width: 990px){
			margin-bottom: 20px;	
		}
	}
}

section.privacy{
	.col{
		@media screen and (max-width: 800px){
			flex-basis: auto;	
			margin-bottom: 20px;
			// text-align: left !important;
		}
	}
}