.inline-cta{
	background-color: #ebebeb;
	border-radius: 3px;
	padding: 15px;
	
	p{
		width: 100%;
		text-align: center;
		font-weight: 500;
		color: $blue;
	}

	form{
		display: flex;
		
		div{
			width: 100%;
		}
	}

	label{
		width: 100%;
		margin: 15px;
		font-size: 14px;
		font-weight: 500;
		
		input{
			margin-top: 5px;
		}
	}

	label:last-child{
		width: 120px;
		flex-shrink: 0;
		
		input{
			text-align: center;
			display: block;
			margin-top: 24px;
		}
	}
}