---
layout: default
---

<div class="">
  <img class="mw-100 w-auto h-auto" src="/img/team/team_takahui.jpg" alt="team">
</div>
<section>
  <div class="container about-content">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8">
      <h2>The team behind Takahui</h2>
      <p>Takahui's mission is to reduce compliance time and cost for both social service providers and government agencies, improve the effectiveness of the social sector through social sector intelligence, streamline compliance processes, and improve trust and transparency between providers and agencies. We are working to improve the interactions between social service provider and agencies in the accreditation process. </p>
      <p>Takahui is an web-based platform for social service provider to manage their funding compliance.  Store and share your organisation information with government agencies - taking the current ad-hoc, email-based accreditation process into a secure, built-for-purpose, cloud solution.</p>
      <p>We are a team that bring experience from the government and social sector and private sector together. To quickly develop a secure and working solution.</p>
      <p>Our goal is to save the average provider $700 worth of time every year.</p>
      </div>
    </div>

    <div class="card-deck m-5">
      <div class="card">
        <img class="card-img-top" src="/img/team/ashlyn.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Ashlyn Baum</h4>
          <p class="card-text"><small class="text-muted">Co-founder, CEO</small></p>

          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/team/simon.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Simon Tegg</h4>
          <p class="card-text"><small class="text-muted">Co-founder, CTO</small></p>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/team/dana.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Dana Fridman</h4>
          <p class="card-text"><small class="text-muted">Co-founder, CPO</small></p>

          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
    <div class="card-deck m-5">
      <div class="card">
        <img class="card-img-top" src="/img/team/eliot.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Eliot Slevin</h4>
          <p class="card-text"><small class="text-muted">Senior UI Design</small></p>

          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/team/vai.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Vai Iyer</h4>
          <p class="card-text"><small class="text-muted">Software Engineer</small></p>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/team/anna.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Anna Gahn</h4>
          <p class="card-text"><small class="text-muted">Design Intern</small></p>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
  </div>
</section>
