---
layout: default
---

<section class="mt-5">
  <div class="d-flex flex-column align-items-center mt-5">
    <div class="col-lg-12 text-center">
      <div class="section-heading">
        <h2>Submit your Accreditation</h2>
        <p class="text-muted">Social Service Providers must be accredited to recieve funding from many agencies.</p>
        <hr>
      </div>
    </div>
  </div>


  <div class="feature-comms container">
    <div class="row d-flex align-items-center flex-column">
      <div class="col-12 col-md-9">
        <div class="device-mockup macbook white">
          <div class="device">
            <div class="screen">
              <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
              <img src="/img/screen-grabs/kotahi_services.png" class="img-responsive w-100" alt=""> </div>
              <div class="button">
              <!-- You can hook the "home button" to some JavaScript events or just remove it -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-center flex-wrap container mt-5">
    <div class="p-5 col">
      <h3>Accreditation Made Simple</h3>
      <p>All of your documents are stored automatical in your dashboard when you go through an accreditation. reference your dashboard any time you want to update or share your organisations information.</p>
    </div>
    <div class="p-5 col">
      <h3>Save 36 hours on average</h3>
      <p>You shouldn't need to have a lawyer translate conversations with government agencies. Your dashboard is the home for all of your compliance information and documentation. Every request comes with added context and help.</p>

  </div>


  </section>


  {% include call-to-action.html %}

  <section>
    <div class="d-flex justify-content-center flex-column container">
      <!-- < div class="row ">
        <div class="col-md-2 col-12">
          <img class="w-100" src="../img/acc_thumbs.png" alt="">
        </div>
        <div class="col-md-6 col-12 p-5">
          <h3>Only answer the same question once</h3>
          <p>Save 50% - 80% of your admin storing your information in one place and sharing it easily online.</p>
        </div>

      </div> -->
      <div class="row justify-content-center align-items-center mb-5">
        <div class="col-md-6 col-12">
          <h3>Only answer the same question once</h3>
          <p>Save your answers for next year in one place and sharing it easily online.</p>
          <br/>
          <h3>Get your time back</h3>
          <p>Either sign in and populate your dashboard. Or go through your <a href="#">Accreditation</a> and your dashboard will automatically populate with your <a href="#">Accreditation</a> information.</p>
        </div>
        <div class="col-md-4 col-12">
          <img class="w-75" src="../img/acc_robot_computer.png" alt="">
        </div>
      </div>
       <!-- <div class="row justify-content-center align-items-center">
        <div class="col-md-4 col-12">
          <img class="w-100" src="../img/robot_click.png" alt="">
        </div>
        <div class="col-md-6 col-12 p-5">
          <h3>Get your time back</h3>
          <p>Either sign in and populate your dashboard. Or go through your <a href="#">Accreditation</a> and your dashboard will automatically populate with your <a href="#">Accreditation</a> information.</p>
          <br/>
          <h3>Only answer the same question once</h3>
          <p>Save 50% - 80% of your admin storing your information in one place and sharing it easily online.</p>
        </div>
      </div> -->
      <div>
        <div class="d-flex align-items-center flex-column mt-5 mb-5">
          <h2>Accreditation is a process with many steps</h2>
          <h3>We focus on helping you with your pre-assessment</h3>
        </div>
        <div class="d-flex flex-wrap align-items-center justify-content-center">
          <div class="border border-secondary rounded align-items-center d-flex flex-column pt-4 pl-4 pr-4 m-2">
            <i class="fa fa-calendar-check-o fa-2x pb-2" aria-hidden="true"></i>
            <p>Start</p>
          </div>
          <div class="bg-theme-primary text-light rounded align-items-center d-flex flex-column pt-4 pb-3 pl-4 pr-4 m-2">
            <i class="fa fa-pencil-square-o fa-3x pb-2" aria-hidden="true"></i>
            <h2>Pre-assessment</h2>
            <div class="pop bg-light text-theme-dark pt-3 mt-3 w-100 text-center rounded">
              <h4>We help here!</h4>
            </div>
          </div>
          <div class="border border-secondary rounded align-items-center d-flex flex-column pt-4 pl-4 pr-4 m-2">
            <i class="fa fa-building fa-2x pb-2" aria-hidden="true"></i>
            <p>Site Visit</p>
          </div>
          <div class="border border-secondary rounded align-items-center d-flex flex-column pt-4 pl-4 pr-4 m-2">
            <i class="fa fa-file-text fa-2x pb-2" aria-hidden="true"></i>
            <p>Report</p>
          </div>
          <div class="border border-secondary rounded align-items-center d-flex flex-column pt-4 pl-4 pr-4 m-2">
            <i class="fa fa-check-circle fa-2x pb-2" aria-hidden="true"></i>
            <p>Done!</p>
          </div>
        </div>
        <div class="row justify-content-center mt-5 mb-5">
          <div class="col-12 col-md-8">
            <h3>It can take hours to gather all the right docs</h3>
            <p>
             Submit all of your organisation information to your Social Sector Accreditation Assessor before your site visit. We'll keep this information on-hand to save time during your next accreditation. This means you'll save more time in the future.
            </p>
            <p>You'll still have site visits, but your prep work will be easier.</p>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <h2>Your new accreditation process</h2>
        <h2>Easy to understand questions with help text</h2>
        <h2>Save your information for next time!</h2>
      </div> -->

  </section>