<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target="#navbar">
  <div class="inner-body">
  {% include nav.html %}
  {% include header.html %}
  {% include animation.html %}
  {% include logo-bar.html %}
  {% include benefits.html %}
  {% include learn.html %}
  <!-- {% include portfolio.html %} -->
  <!-- {% include feature.html %} -->
  <!-- {% include quote.html %} -->
  <!-- {% include aside.html %} -->
  {% include contact.html %}
  {% include footer.html %}
  {% include scripts.html %}
  </div>
</body>

</html>
