<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target="#navbar">
  <div class="inner-body">
  {% include nav-govt.html %}
  {% include govHeader.html %}
  {% include logo-bar.html %}

<section class="comp-view" id="learn">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center pb-5">
          <h2 id="datapointText">Get a comprehensive view of New Zealand’s Social Sector</h2>
          <img src="/img/ill/datapoints.png" class="img-fluid" id="datapoints">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm p-3">
       <span class="brutal">Challenge</span>
       <p>There are <strong>12</strong> Central Government Agencies, DHBs, and Regional Councils interacting with New Zealand’s social sector.</p>
      </div>
      <div class="col-sm p-3">
        <span class="brutal">Challenge</span>
        <p><strong>All</strong> of these agencies and organisations have unique technical systems and processes.</p>
      </div>
      <div class="col-sm bg-light rounded p-3">
        <span class="brutal">Solution</span>
        <p>Accreditron is a web-based platform enabling cross-agency information sharing and provides a comprehensive view of the social sector.</p>
      </div>
    </div>
  </div>
</section>

<section class="search">
  <div class="container ">
    <h2>Accreditron makes sharing information <span>instant</span> for all authorised parties.</h2>
    <h2><strong>Just search for it</strong></h2>
    <div class="row">
      <div class="col"><img src="/img/ill/search-providers.png" class="img-fluid"> </div>
      <div class="col"><img src="/img/ill/search-services.png" class="img-fluid"> </div>
    </div>
  </div>
</section>

<section class="values">
  <div class="container ">
    <h2 class="text-center">Benefits</h2>
    <div class="row mt-5 mb-5">
      <div class="col p-3">
        <h3>Reduce Risk</h3>
        <p>Accurate, verified information reduces risk for many business units within Government: Procurement, Contracting, Accreditation, Monitoring, Due Diligence, etc. </p>
      </div>
      <div class="col bg-light rounded p-3">
        <blockquote>“If somebody somewhere else in government is currently having issues with a provider, I need to know about it as soon as possible - as it affects the safety of my clients”</blockquote>
        <span>
            <strong>Contract Monitoring Team Insight</strong>
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
        </span>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col p-3">
        <h3>Remove Duplicated Work</h3>
        <p>Currently the burden of sharing this information between agencies is put on providers - by every agency repeatedly asking them for the same information.</p><!--

        <p>Accreditron removes this duplicated work, saving time for both providers and government staff.</p> -->
      </div>
      <div class="col bg-light rounded p-3">
        <blockquote>“This will save us so much time! Because we have so many piles of paperwork to get through.”</blockquote>
        <img src="/img/logos/womens-refuge.png">
      </div>
    </div>
  </div>
</section>

<section class="datasphere">
  <div class="container">
    <div class="text-center">
      <h2>Accurate social sector data reduces risk.</h2>
      <img src="/img/ill/datasphere.png" class="img-fluid">
    </div>
  </div>
</section>

<section class="data-benefits">
  <div class="container">

    <div class="row mt-5 mb-5">
      <div class="col">
        <h3>Find the gaps in Services</h3>
        <p>Some areas of the Social Sector are patchy. These areas might have demand, but no services available or a lack of funding to fill it. Accreditron helps find these gaps by showing service information across the sector.</p>
      </div>
      <div class="col text-center">
        <img src="/img/ill/gap.png" class="img-fluid" >
      </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col mt-5">
        <h3>Map funded & unfunded services with tags</h3>
        <p>A large portion of social services are funded by philanthropy, and volunteer time. As current systems aren't designed to record information about unfunded services, this large portion of our social sector is invisible to government.</p>

        <p><a href="https://medium.com/p/ff989a97aa5f" target="_blank">Read more on Medium</a></p>
      </div>
      <div class="col text-center">
        <img src="/img/ill/tags.png" class="img-fluid">
      </div>
    </div>
  </div>
</section>


<section class="data-accuracy">
  <div class="container">
    <div class="mid-container">
      <h2>Our collaborative approach ensures the highest level of accuracy</h2>
      <p>Information is added to Accreditron by both providers, government, and other data sources. This means that everyone who needs it has the latest and most accurate picture.</p>
      <img src="/img/ill/data-sources.png" class="img-fluid">
    </div>
  </div>
</section>

<section class="privacy">
  <div class="container">
    <h3>Transparent & Secure</h3>
    <div class="row mt-5">
      <div class="col">From a provider's perspective, government is a black box - when they hand over information, they don’t really know where it’s going.</div>
      <div class="col">We have the opportunity to change that and are committed to doing so. Accreditron clearly shows where information is going, who can access it, and for what purpose.</div>
      <div class="col text-center"><img src="/img/ill/privacy.png"></div>
    </div>
  </div>
</section>



  {% include contact.html %}
  {% include footer.html %}
  {% include scripts.html %}
  </div>
</body>

</html>
