---
layout: test
---


<section class="pt-5 signup">
  <div class="container mt-5 mb-5">
    <div class="row justify-content-md-center mt-5 pb-5">
      <div class="col-md-5 col-12">
        <div class="card text-center text-white bg-theme-dark p-1">
          <div class="card-body">

            <h2>Register</h2>
            <h4>For the Accreditron Pre-Release</h4>
           <!--  <div class="border border-top-0 border-left-0 border-right-0 border-white pt-3 w-100"></div> -->
           <!--  <div class="line">
              <h4 class="line d-inline-block uppercase pl-3 pr-3 bg-dark">Sign Up Now to Join</h4>
            </div> -->

            <div class="_form_4"></div><script src="https://accreditron.activehosted.com/f/embed.php?id=4" type="text/javascript" charset="utf-8"></script>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-12 p-3">
        <h2>Good News!</h2>
        <h4>Accreditron is almost ready.</h4>
        <p>We're building the Accreditation platform of New Zealand, and we want you to be involved.</p>

        <p>Accreditron is currently in pre-release - we've got a product built, and we're testing it with a small group of providers.</p>

        <p>Signing does the following.</p>

        <ul>
          <li>You are interested in early access to the platform.</li>
          <li>Shows government that the Social Sector in New Zealand wants better accreditation systems.</li>
        </ul>



        <p>Because Accreditron is still in pre-release, you can join the waiting list to be notified when you can sign in.</p>
        <div class="d-flex pb-4 justify-content-center">
          <img class="" src="../img/paper_truck.png" alt="">
        </div>
        <h3>Registering get's your organisation early access to reduce overhead and compliance cost.</h3>
      </div>
    </div>




    <div class="row mt-5">
    <div id="accordion" role="tablist" class="col-12 m-auto col-lg-8 cold-md-10">
      <h3 class="pt-3 border border-dark-2 border-left-0 border-right-0 border-bottom-0 ">Frequently Asked Questions</h3>
      <!-- first card -->
      <div class="card border-0 rounded-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="bb-accordion">
        <div class="p-3 d-flex border border-dark-2 border-left-0 border-right-0" role="tab" id="headingOne">
          <h5 class="mb-0">
            <i class="fa fa-question-circle" aria-hidden="true"></i>

              What's the Pre-Release Trial Programme?

          </h5>
        </div>
        </a>

        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Accreditron is still in Pre-Release, but we want you to get recieve the benefit of the platform as soon as possible. Pre-Release means that Accreditron is not full-feature yet. You can submit your accreditation pre-assessment for review and we will make sure that information makes it to your Assessor.
          </div>
        </div>
      </div>
      <!-- second card -->
      <div class="card border-0 rounded-0">
        <a class="collapsed bb-accordion" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <div class="p-3 d-flex border border-dark-2 border-left-0 border-right-0" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <i class="fa fa-question-circle" aria-hidden="true"></i>

              When can I start using Accreditron?

          </h5>
        </div>
        </a>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Soon! Because we are currently running a pre-release trial, we will bring providers on to the system individually. By registering your interest, we will reach out and step you through the process.
          </div>
        </div>
      </div>
      <!-- third card -->
      <div class="card border-0 rounded-0">
        <a class="collapsed bb-accordion" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <div class="p-3 d-flex border border-dark-2 border-left-0 border-right-0" role="tab" id="headingThree">
          <h5 class="mb-0">
            <i class="fa fa-question-circle" aria-hidden="true"></i>

              Can I tailor Accreditron to my organization?

          </h5>
        </div>
        </a>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Accreditron has been co-designed with Social Service Providers an Government Agencies. We are constantly iterating feedback into our product to make sure that it suits your needs. If your organisation would like additional tools or resource on the platform please contact us and let us know!
          </div>
        </div>
      </div>
      <!-- fourth card -->
      <div class="card border-0 rounded-0">
        <a class="collapsed bb-accordion" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <div class="p-3 d-flex border border-dark-2 border-left-0 border-right-0" role="tab" id="headingThree">
          <h5 class="mb-0">
            <i class="fa fa-question-circle" aria-hidden="true"></i>

              What government agencies does Accreditron work with?

          </h5>
        </div>
        </a>
        <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            We are working cross-agency in central government, and our primary agency partner is the Ministry of Social Development. Other government parties to come on board soon are District Health Boards and regional Councils.
          </div>
        </div>
      </div>
    </div>





</section>